<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGR_II.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RGR_II.Properties.Settings.DBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Db\DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RGR_II.Properties.Settings>
            <setting name="ExeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DBLog" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>DB.mdf</value>
            </setting>
            <setting name="DBLogN" serializeAs="String">
                <value>DB_log.ldf</value>
            </setting>
            <setting name="WayToDB" serializeAs="String">
                <value>\Db\</value>
            </setting>
            <setting name="DBN" serializeAs="String">
                <value>DB</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Db\DB.mdf;Integrated Security=True</value>
            </setting>
            <setting name="TxtName" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtDir" serializeAs="String">
                <value />
            </setting>
        </RGR_II.Properties.Settings>
    </userSettings>
</configuration>